:root {
    --pink: magenta;
    --dark: rgb(69,69,69);
    --padding: 15px;
    --radius: 10px;
}

body {
    background: var(--dark);
    color: white;
    font-size: 20px;
    line-height: 32px;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

header {
    text-align: center;
    margin: 0 0 20px;
}

.page-title {
    color: var(--pink);
    font-size: 65px;
    margin: 25px 0;
    line-height: 65px;
}

header p {
    margin: 0 auto 50px;
    max-width: 1000px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 2%;
}

.justify-center {
    justify-content: center;
}

.card-column {
    width: 31%;
    margin-bottom: 65px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px dashed white;
    padding: 20px;
    position: relative;
    height: 100%;
}

.card h2, .card p {
    color: var(--pink);
}

.card h2 {
    background: var(--dark);
    border: 2px solid white;
    border-radius: var(--radius);
    padding: var(--padding);
    font-size: 36px;
    position: absolute;
    top: -34px;
    /*width: 90%;*/
}

.card p {
    margin-top: 25px;
}

.code-block {
    flex: 1;
    background: linear-gradient(var(--pink),rgb(147,0,147));
    padding:var(--padding);
    border-radius: var(--radius);
    white-space: pre-wrap;
}

@media (max-width: 1400px) {
    .card-column {
        width: 48%;
    }
}

@media (max-width: 930px) {
    .card-column {
        width: 98%;
    }
}







