:root {
    --BackgroundColor: rgb(69, 69, 69);
    --ContainerColor: rgba(209, 37, 215, 0.757);
    --TextColor: rgb(255, 255, 255);
}

* {
    
}

body {
    background-color: var(--BackgroundColor)
}

h1 {
    font-size: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

h1, h2, h3, .card-body {
    color: var(--ContainerColor);
}

header p {
    color: var(--TextColor);
    font-size: 115%;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.card-column {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: dashed var(--TextColor);
    height: 300px;
    width: 500px;
    margin: 20px;
}

.card-header {
    background-color: var(--BackgroundColor);
    display: flex;
    flex-direction: row;
    border: solid var(--TextColor);
    border-radius: 10px;
    position: relative;
    margin-top: -20px;
}

.card-body {
    margin: 10px;
    font-size: 20px;
}

code {
    display: inline;
}

.code-block {
    color: var(--TextColor);
    background: var(--ContainerColor);
    border-radius: 10px;
    display: flex;
    height: 200px;
    width: 400px;
}

.code-card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }
  
.code-card:hover, .code-card:hover, .card-header {
    box-shadow: inset 0px 0px 8px var(--ContainerColor), 0 0 15px var(--ContainerColor);
  }

  